<?xml version="1.0" ?>
<launch>
    <arg name="start_panda1" default="true" />
    <arg name="start_panda2" default="true" />
    <arg name="simulate_panda1" default="true" />
    <arg name="simulate_panda2" default="true" />
    <arg name="panda1_ip" default="172.16.1.2" />
    <arg name="panda2_ip" default="172.16.0.2" />
    <arg name="load_gripper1" default="true" />
    <arg name="load_gripper2" default="true" />

    <arg name="use_sim_time" default="true"/>
    <arg name="gazebo_world" default="$(find franka_gazebo)/launch/franka.world"/>
    <arg name="launch_rviz" default="true" />

    <include file="$(find imt_frankas_config)/launch/start_pandas.launch" >
        <arg name="start_panda1" value="$(arg start_panda1)" />
        <arg name="start_panda2" value="$(arg start_panda2)" />
        <arg name="simulate_panda1" value="$(arg simulate_panda1)" />
        <arg name="simulate_panda2" value="$(arg simulate_panda2)" />
        <arg name="panda1_ip" value="$(arg panda1_ip)" />
        <arg name="panda2_ip" value="$(arg panda2_ip)" />
        <arg name="load_gripper1" value="$(arg load_gripper1)" />
        <arg name="load_gripper2" value="$(arg load_gripper2)" />
        <arg name="spawn_controller1" value="false" />
        <arg name="spawn_controller2" value="false" />
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gazebo_world" value="$(arg gazebo_world)"/>
    </include>

    <group ns="panda1" if="$(arg start_panda1)">
        <include file="$(find panda1_moveit_config)/launch/panda_moveit.launch">
            <arg name="load_gripper" value="$(arg load_gripper1)" />
        </include>

        <include file="$(find panda1_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" />
    </group>

    <group ns="panda2" if="$(arg start_panda2)">
        <include file="$(find panda2_moveit_config)/launch/panda_moveit.launch">
            <arg name="load_gripper" value="$(arg load_gripper2)" />
        </include>

        <include file="$(find panda2_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" />
    </group>
</launch>
