<?xml version="1.0" ?>
<launch>
  <arg name="namespace" default="panda1" />
  <arg name="load_gripper" default="false" />
  <arg name="xyz" default="0 0 0" />
  <arg name="rpy" default="0 0 0" />
  <arg name="use_sim_time" default="false"/>
  <arg name="bag_number" default="002" />
  <arg name="play_bag" default="true" />
  <arg name="delay" default="1.3" />
  <!-- Sets the hardware interface in robot description (set to VelocityJointInterface for velocity control) -->
  <arg name="hw_interface" default="PositionJointInterface" />

  <group ns="$(arg namespace)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm_hand.urdf.xacro' connected_to:='world' hw_interface:='$(arg hw_interface)' xyz:='$(arg xyz)' rpy:='$(arg rpy)' namespace:='/$(arg namespace)/'" if="$(arg load_gripper)" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find franka_description)/robots/panda_arm.urdf.xacro' connected_to:='world' hw_interface:='$(arg hw_interface)' xyz:='$(arg xyz)' rpy:='$(arg rpy)' namespace:='/$(arg namespace)/'" unless="$(arg load_gripper)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
      <remap from="robot_description" to="robot_description" />
      <param name="publish_frequency" type="double" value="30.0" />
    </node>
  </group>
  <node name="rvizzz" pkg="rviz" type="rviz" args="-d /home/marcus/.rviz/1panda_without_table.rviz" />
  <node pkg="rosbag" type="play" name="rosbag_record_diag" args="--clock -u 5.0 /home/marcus/Development/parallel_gazebo_env/resources/torque_trajectory_$(arg bag_number).bag"
    launch-prefix="bash -c 'sleep $(arg delay); $0 $@' " if="$(arg play_bag)"/>
</launch>
